{% extends "index.njk" %}

{% block pageTitle -%}
  Initial Page
{%- endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Has Data come from the API?</h1>

  <p class="govuk-body govuk-!-margin-bottom-6">data: {{ apiData }}</p>
  
{% endblock %}
